<title>HOME PAGE</title>
<h1>Welcome , Food Ordering System</h1>
<p>Fetching Data From the DATABASE</p>


<table>
  <tr>
    <td>
      User Id
    </td>
    <td>
      Name
    </td>
   
  </tr>
  <th>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %> </td>
      <td>   <a href="/user/<%= user.id %>">
        <%= user.username %>
      </td>
      <% end %>
    </tr>
  </th>
</table>