<title>HOME PAGE</title>
<h1>Showing Personal Details</h1>



<table>
  <tr>
    <td>
      User Name
    </td>
    <td>
      User Address
    </td>
    <td>
        User Phone Number 
    </td>
    
  </tr>
  <th>

    <tr>
      <td><%= @user.username %> </td>
      <td><%= @user.user_address %></td>
      <td><%= @user.user_phonenumber %></td>
 
    </tr>

  </th>
</table>